* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, Arial, sans-serif;
}

body {
    background-image: url("assets/bustabackground.png");
    background-repeat: no-repeat;
    background-size: 100% 45.65rem;
    position: absolute;
}

.formtotaal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    border-radius: 25px;
    background-color: #DCDBDB;
    padding: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: block;
    color: #000000;
    background-color: #DCDBDB;
    padding: 1rem;
}

input {
    color: #000000;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    border: none;
    padding: 10px;
    text-align: center;
}

button {
    background-color: #f1c765;
    color: #000000;
}

.formtotaal button[type="submit"] {
    display: block;
    margin: 10px auto;
    width: 270px;
    border-radius: 15px;
    border: none;
    padding: 10px;
    text-align: center;
}

.formtotaal button[type="submit"]:hover {
    display: block;
    margin: 10px auto;
    width: 270px;
    border-radius: 15px;
    border: none;
    padding: 10px;
    text-align: center;
    background-color: #313437;
    color: #f1c765;
    text-decoration-line: underline;
}

#forgotpassword {
    color: black;
    padding-top: 0.5rem;
    padding-bottom: 30px;
    padding-left: 9.3rem;
    font-size: 12px;
    text-decoration-line: underline;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-container img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

@media screen and (max-width: 900px) {
    form {
        padding: 10px;
        font-size: 16px;
    }

    label {
        padding: 0.5rem;
    }

    input {
        padding: 8px;
    }

    button[type="submit"] {
        width: 200px;
        padding: 8px;
    }

    #forgotpassword {
        padding-left: 0.5rem;
        padding-bottom: 10px;
    }

    .image-container {
        margin-top: 10px;
    }

    .image-container img {
        width: 60px;
        height: 60px;
        margin-right: 5px;
    }
}

/* TELEFOON FORMAAT */
@media screen and (max-width: 760px) {
    body {
        overflow: hidden;
    }

    .formtotaal {
        margin: 5rem;
        height: calc(100vh - 10rem);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    form {
        padding: 20px;
        font-size: 16px;
        max-width: 320px;
        width: 100%;
    }

    label {
        padding: 0.5rem;
    }

    input {
        padding: 8px;
    }

    button[type="submit"] {
        width: 100%;
        padding: 8px;
    }

    #forgotpassword {
        padding-left: 0.5rem;
        padding-bottom: 10px;
    }

    .image-container {
        margin-top: 10px;
    }

    .image-container img {
        width: 60px;
        height: 60px;
        margin-right: 5px;
    }
}



/* IPAD FORMAAT */
/*
@media screen and (max-width: 1024px) {
    .formtotaal {
        margin: 5rem 10rem;
    }
}
