
/* carousel */
.carousel-container 
{
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .carousel 
  {
    width: 500px;
    height: 500px;
    position: relative;
    margin-bottom: 25px;
  }
  
  .carousel-item 
  {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
  }
  
  .item1 
  {
    background-image: url('testphoto.png');
    transform: rotate(0deg) translateX(250px) rotate(0deg);
  }
  
  .item2 
  {
    background-image: url('testphoto.png');
    transform: rotate(72deg) translateX(250px) rotate(-72deg);
  }
  
  .item3 
  {
    background-image: url('testphoto.png');
    transform: rotate(144deg) translateX(250px) rotate(-144deg);
  }
  
  .item4 
  {
    background-image: url('testphoto.png');
    transform: rotate(216deg) translateX(250px) rotate(-216deg);
  }
  
  .item5 
  {
    background-image: url('testphoto.png');
    transform: rotate(288deg) translateX(250px) rotate(-288deg);
  }
  
  .buttons-container 
  {
    display: flex;
    align-items: center;
  }
  
  .position-buttons-container 
  {
    display: flex;
    gap: 25px;
  }
  
  .position-button 
  {
    padding: 8px 16px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    cursor: pointer;
  }