/*ALGEMEEN*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, Verdana, sans-serif;
}

h1 {
    font-family: "cheddar-gothic-rough", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50pt;
}

h2 {
    font-family: "bebas-neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35pt;
}

h3 {
    font-family: "bebas-neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25pt;
}

p {
    font-size: 18pt;
}

body {
    margin: 0 auto;
}

/*-------------- NAVIGATIE ------------*/
nav {
    margin: 25px;
    font-size: 15pt;
    display: flex;
    justify-content: center;

    border-radius: 100px;
    background-color: #ffffff;
}
#logo_homelink{
    width: 60%;
    height: fit-content;
}
nav a{
    text-decoration: none;
    color: #313437;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    left: -2rem;
    background-color: #313437;
    border-radius: 0 0 1rem 1rem;
    min-width: 160px;
}
#dropdown-content-winkelmand {
    background-color: #fff;
    min-width: 20rem;
    left: -10rem;
}
/*.dropdown_content_profile{
    left: -4rem;
}*/
.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: bebas-neue, sans-serif;
}
.dropdown-content a:hover {
    color: #F1C765;
    font-weight: 400;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.nav_item{
    font-size: 20pt;
}
#winkelmand_img{
    width: 30%;
    height: fit-content;
}
.winkelmand_prijs p{
    font-size: 10pt;
}
.winkelmand_hoeveelheid input{
    width: 130%;
}
.winkelmand_foto{
    width: 100%;
    height: fit-content;
}
.winkelmand_remove img{
    width: 80%;
    height: fit-content;
}
#default_user_image{
    crop: rect(20px 0 10px 0);
    width: 40%;
    clip-path: circle(50%);
    object-fit: fill;
}
#hamburger{
    display: none;
}
@media screen and (max-width: 768px) {
    #hamburger{
        display: block;
    }
    #hamburger img{
        width: 40%;
    }
    #default_user_image{
        width: 40%;
    }
    .big_screen{
        display: none;
    }

}
.knop {
    background-color: #F1C765;
    border-radius: 1rem;
    color: #313438;
    text-decoration: none;
    font-family: bebas-neue, sans-serif;
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;
}
    
    /* Filter */

    .filter-menu h1{
        font-family: cheddar-gothic-rough, sans-serif;
        font-size: 25pt;
    }
    
    .filter-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4px;
    border-bottom: 4px solid #f1c765;
    margin-bottom: 1rem;
    }
    
    .filter-menu-dropdowns-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: max-content;
    }
    .filter_button{
        font-size: 20pt;
    }
    .visible{
        visibility: visible;
        display: block;
    }
    .invisible{
        visibility: hidden;
        display: none;
    }
    
    /* Results */
    .results {
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    }
    
    .results .items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    }
    
    .results .items .item {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    background: white;
    }



    /* Products */
    .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    }
    
    .slider img {
    width: 60%;
    }
    
    .slider :nth-child(1), .slider :nth-child(3) {
    flex: 1;
    }
    
    .product-slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    }
    
    
    /* Footer */
    .footer {
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    background: #313437;
    
    color: white;
    }
    
    .divider {
    text-align: center;
    padding-bottom: 0.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: max-content;
    border-bottom: 4px solid #F1c765;
    }
    
    .text-with-icon {
    display: flex;
    gap: 1rem;
    width: max-content;
    }
    
    .icon-row {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .footer-info {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    }
/*-------------------------------------------------------------------------------------- footer ----------------------------------------------------------------------------------------------*/
/* footerbox */
.Footer
{
    border-radius:  1.563rem 1.563rem 0rem 0rem;
    padding: 3.125rem;
    background-color:#2A2929;
    color: #fff;

    text-align: center;
    display: flex;
}

/* size busta logo */
.Footer img
{
    width: 23rem;
    height: auto;
    margin-top: 18%;
}

/* H1 text + underlinement */
.Footer h1
{
    font-size: 3.125rem;
    font-family: cheddar-gothic-rough, sans-serif;
    /*-- underlinement yellow + placement --*/
    display: inline-block;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    border-bottom: 0.313rem solid #F1C765;
    padding-bottom: 0.313rem;
}

/* text */
.Footer p
{
    font-family: bebas-neue, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

/* icons */
.Footer ul i
{
    margin: 2rem;
    margin-left: -1rem;
    margin-top: 3rem;
    font-size: 2.5rem;
    color: white;
}

/* maps */
.maps_footer
{
    width: 500px;
    height: 300px;
    border-radius: 1.563rem;
}
#map {
    margin-left: 5%;
}
@media screen and (max-width: 567px) {
    /*--------------------------------------- footer -------------------------*/
    .Footer
    {
        flex-direction: column;
    }

    .Footer img
    {
        margin-top: 5%;
        width: 20rem;
    }

    /* H1 text + underlinement */
    .Footer h1
    {
        font-size: 1.5rem;
        /*-- underlinement yellow + placement --*/
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        margin-top: 25px;
    }

    /* text */
    .Footer p
    {
        font-size: 1.5rem;
        text-align: center;
    }

    /* icons */
    .Footer ul i
    {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    .maps_footer
    {
        border-radius: 0.5rem;
        width: 300px;
        height: 250px;
    }
    #map {
        margin-left: 0;
    }
}
  