/*ALGEMEEN*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto, Verdana, sans-serif;
}
h1{
    font-family: "cheddar-gothic-rough", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50pt;
}
h2{
    font-family: "bebas-neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35pt;
}
h3{
    font-family: "bebas-neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25pt;
}
p{
    font-size: 18pt;
}
body{
    margin: 0 auto;
}

/* BIG SCREEN */

@media screen and (max-width: 2000px) {
    /*FAQ's BIG SCREEN*/
    #questions_body {
        background-color: #ECECEC;
        background-image: url("assets/background-gele_ellipse.png");
        background-size: 40rem;
        background-repeat: no-repeat;
        background-position-x: -15rem;
        background-position-y: -17rem;
    }

    #questions_main {
        margin-top: 10rem;
    }

    #questions_body h1 {
        font-size: 25pt;
    }

    #questions_body h2 {
        font-size: 18pt;
    }

    #questions_body p {
        font-size: 15pt;
    }

    #vragen {
        margin-bottom: 20rem;
    }

    #vragen .vraag {
        padding: 1rem;
    }

    #vragen .vraag h1 {
        font-size: 1.2em;
        display: block;
        padding: 3px;
        cursor: pointer;
        margin-left: 15px;
    }

    #vragen .antwoord {
        padding: 10px;
        display: none;
    }

    #vragen .vraag img {
        width: 2rem;
        height: fit-content;
    }

    /* ACHTERGROND GOLVEN */
    #questions_achtergrond_zwart {
        fill: #313438;
    }

    #questions_achtergrond_rood {
        fill: #BB6148;
        width: 35%;
    }

    #questions_achtergrond_geel {
        fill: #F1C765;
        width: 20%;
        /* position: relative;
         left: 65%;
         bottom: -5%;*/
    }

    #questions_achtergrond_blauw {
        fill: #88A1A7;
        width: 20%;
        /*position: relative;
        left: 50%;
        bottom: -80%;*/
    }
}